{
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": { "yatzy": "./src/yatzy" }
      }
    ]
  ],
  "presets": [
    ["@babel/preset-env", {"targets": {"node": "current"}}],
    "@babel/preset-typescript"
  ]
}

